a {
  text-decoration: none;
}
.wall-item-footer {
  font-size: small;
  text-align: end;
}
blockquote {
  margin: 0 0 1rem;
  border-left-color: var(--bs-primary);
  border-left-style: solid;
  padding-left: 1rem;
  color: var(--bs-body-color);
  border-left-width: thick;
  background: var(--bs-tertiary-bg);
}
.sticky-column {
  position: sticky;
  /*top: 72px;*/
  overflow-y: auto;
  height: calc(100vh - 72px);
  min-height: calc(100vh - 72px);
  scrollbar-width: none;  
}

#cboxContent {
  background: var(--bs-tertiary-bg);
}
#colorbox, #cboxOverlay, #cboxWrapper {
  z-index: 2000;
}
.section-title-wrapper.app-content-header {
  padding-top: 0;
}
