a {
  text-decoration: none;
}
.wall-item-footer {
  font-size: small;
  text-align: end;
}
blockquote {
  margin: 0 0 1rem;
  border-left-color: var(--bs-primary);
  border-left-style: solid;
  padding-left: 1rem;
  color: rgba(var(--bs-text-body-secondary), var(--bs-text-opacity)) !important;
  border-left-width: thick;
}
.sticky-column {
  position: sticky;
  top: 72px;
  overflow-y: auto;
  height: calc(100vh - 72px);
  min-height: calc(100vh - 72px);
  scrollbar-width: none;
}
