/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  src: url(fonts0/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsjZ0B4gaVI.woff2);
}
a {
  text-decoration: none;
}
.wall-item-footer {
  font-size: small;
  text-align: end;
}
blockquote {
  margin: 0 0 1rem;
  border-left-color: var(--bs-primary);
  border-left-style: solid;
  padding-left: 1rem;
  color: rgba(var(--bs-info-rgb), var(--bs-text-opacity)) !important;
  border-left-width: thick;
}
.sticky-column {
  position: sticky;
  top: 72px;
  /*z-index: 1020; /* Optional: Ensures it appears above other elements */*/
  overflow-y: auto;
  height: calc(100vh - 72px);
  min-height: calc(100vh - 72px);
  scrollbar-width: none;
}
